<%- include("partials/header.ejs") %>
    <div class="mainCrear">
        <div class="boxForm">
            <form action="/crearPost" method="post" class="formCrear">
                <label for="postTitle">Title</label>
                <input type="text" name="postTitle" id="" class="inputCrear">
                <label for="postContent">Content</label>
                <textarea name="postContent" id="" cols="30" rows="10" class="textareaCrear"></textarea>
                <input type="submit" value="Send" class="btnLogin">
            </form>
            <% if (locals.msg) { %>
                <%= msg %>
            <% } %>
        </div>
    </div>
<%- include("partials/footer.ejs") %>