<%- include("partials/header.ejs") %>

    <div class="mainPosts">
        <div class="postContainer">
            <ul>
                <% post.forEach((posts)=> {%>
                    <li class="boxBox">
                        <h3 class="h3Post"> <%= posts.title %></h3>
                        <p class="pPost"> <%= posts.content %> </p>
                    </li>
                    <% })%>
            </ul>
        </div>
    </div>

<%- include("partials/footer.ejs") %>