<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <main>
        <div class="formContainer">
            <div class="formItemsContainer">
                <h1 class="h1Login">Login</h1>
                <form action="/login" method="post" class="loginForm">
                    <div class="box1">
                        <label for="id">Username</label>
                        <input type="text" name="id" class="inputForm" required>
                    </div>
                    <div class="box2">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" class="inputForm" required>
                    </div>
                    
                    <input type="submit" value="Sign in" class="btnLogin">
                </form>
                <% if ((locals.msg)) { %>
                    <h3 class="loginMsg"><%= msg %></h3>
                <% } %>
                <h3 class="h3Login">¿Don't have an account? <a href="/register">Register Now!</a></h3>
            </div>
        </div>
    </main>
</body>
</html>